* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(120deg, #4d5555, #331a6e);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.title-area {
    display: grid;
    grid-template-columns: auto;
}
.title-area h1 {
    margin-top: 2em;
    align-items: center;
    justify-self: center;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    margin-top: 10px;
}
.description input[type="text"] {
 width: 20rem;
 box-sizing: border-box;
 height: 100%;
 outline: none;
 padding-left: 20px;
 background-color: transparent;
 border: transparent;
 border-bottom: 2px solid black;
 font-size: 1em;
 font-weight: bold;
 font-family: sans-serif;
 color: white;
}
.description input[type="text"]::placeholder {
    color: white;
}
.description select{
    box-sizing: border-box;
    margin-left: 2px;
    width: 5rem;
    height: 100%;
    outline: none;
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid black;
    font-size: medium;
    font-weight: bold;
    color: white;
}
.description option{
    border-bottom: 2px solid black;
    font-size: medium;
    font-weight: bold;
    color: black;
}
.content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 40em;
    height: 40em;
    border: 10px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
}
.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-gap: 0px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.grid-item {
    display: grid;
    padding: 1px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    border: 2px solid black;
}
.grid-item input[type="number"] {
    width: 100%;
    height: 100%;
    font-size: 2em;
    background-color: rgb(113, 57, 236);
    font-weight: bold;
    color: aliceblue;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;

}
.grid-item input[type="number"]:hover {
    cursor: pointer;
    background-color: rgb(106, 117, 220);
    
}
.grid-item input[type="number"]:focus {
    outline: none;
}